<div class="id-preview-container">
    <div class="admin__control-addon id-preview">

        <input class="admin__control-text" type="text" data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: ['keyup', 'mouseleave'],
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled,
            maxlength: 255
    }"/>

        <label class="admin__addon-suffix">
            <span class="icon-edit" aria-hidden="true"></span>
            <span data-bind="text: loadPreviewData">No data selected yet</span>
        </label>
    </div>

    <div class="button">
        <small>
            <button data-bind="
        click: toggleDisability,
        text: toggleButtonLabel
        "><span></span></button>
        </small>
    </div>
</div>