<?xml version="1.0"?>
<!--
/**
 * Yireo EmailTester2 for Magento 
 *
 * @package     Yireo_EmailTester2
 * @author      Yireo (http://www.yireo.com/)
 * @copyright   Copyright 2015 Yireo (http://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Yireo_EmailTester2" schema_version="2.0.0">
        <sequence>
            <module name="Magento_Core"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
