<?xml version="1.0"?>
<!--
/**
 * Yireo EmailTester2 for Magento
 *
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2019 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <emailtester2>
            <settings>
                <default_sender/>
                <default_email/>
                <default_transactional/>
                <default_product/>
                <default_customer/>
                <default_order/>
                <limit_product>0</limit_product>
                <limit_customer>0</limit_customer>
                <limit_order>0</limit_order>
                <custom_product/>
                <custom_customer/>
                <custom_order/>
                <enable_jqueryui>0</enable_jqueryui>
                <debug>0</debug>
            </settings>
        </emailtester2>
    </default>
</config>

