<?xml version="1.0"?>
<!--
/**
 * Yireo EmailTester for Magento
 *
 * @package     Yireo_EmailTester
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2019 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Yireo\EmailTester2\Model\Mailer">
        <arguments>
            <argument name="transportBuilder" xsi:type="object">Yireo\EmailTester2\Model\TransportBuilder</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="emailtester2_list" xsi:type="object">Yireo\EmailTester2\Console\Command\ListCommand</item>
                <item name="emailtester2_send" xsi:type="object">Yireo\EmailTester2\Console\Command\SendCommand</item>
            </argument>
        </arguments>
    </type>
</config>