<?xml version="1.0"?>
<!--
/**
 * EmailTester plugin for Magento 2
 *
 * @package     Yireo_EmailTester2
 * @author      Yireo
 * @copyright   Copyright 2017 Yireo (https://www.yireo.com/)
 * @license     Open Source License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yireo_EmailTester2::index"
             title="Yireo Email Tester"
             module="Yireo_EmailTester2"
             resource="Yireo_EmailTester2::index"
             action="emailtester/index/index/form_id/0"
             sortOrder="50"
             parent="Magento_Backend::marketing_communications"
        />
    </menu>
</config>
